html {
height: 100%;
width: 100%;
}
#banner
{ width: 100%;
height: 650px;}
body{
background-color: rgb(105, 96, 96);
}
h1{
text-align: center; color: rgba(255, 0, 0, 0)
}
p {
text-align: center;
}
strong{
color: rgba(205, 92, 92, 0);
}